
.dashOwner-container{
	display: flex;
	background-image: url(https://www.sonaca-aircraft.com/sites/default/files/styles/colorbox/public/934cd4a4-90e4-423f-b4ad-3ae7996dc5b3.jpg?itok=hyY31c5g);
}

.homeContent{
	margin-top: 200px;
	margin-left: 250px;
	text-align: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color:#78AED3;
	
}


.sidebar {
//   position: fixed;
  width: 300px;
  height: 100vh;
  background: #AAC9DD;
  font-size: 12px;
  padding-left: -250px;
}

.nav {
  position: relative;
  
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
}
.fa-solid{
  margin-left:-250px;
}
.dash-icon {
  list-style: none;
 
  
  .dash-item{
  // position: relative;
	margin-left:-130px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  
  
    
    a {
      
      text-transform: uppercase;
      text-decoration: none;
      color: rgba(rgb(255, 255, 255), 0.35);
      display: block;
      transition: all ease-out 300ms;
    }
    
    &.active a {
      color: #4F77AA;
    }
    
    &:not(.active)::after {
      opacity: 0.2;
    }
    
    &:not(.active):hover a {
      color: rgba(#FFF, 0.75);
    }
    
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 0.2em;
      background: black;
      background-image: linear-gradient(to right, #AAC9DD, #C1E3ED)
    }
  }
}
.return{
  color:#FFF
}
